.error{
    background-color: #ebecf0;
    position: absolute;
    padding: 2rem 5rem;
    border-radius: 5%;
    width: 20%;
    margin: 10% 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
      box-shadow:
    2px 2px 5px rgba(87, 81, 81, 0.25)  ,
      -5px -5px 10px  rgb(255, 255, 255);
}
.error h2 {
    padding: 0;
    margin: 0;
}